{{extend 'layout.html'}}
<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	
	<script type="text/javascript">

	
	</script>

	<style>
		#title{
			font-size: 30px;
 		}
		#sortable { 
			list-style-type: none; margin: 2px;
			padding: 2px; 
			width: 1000px;
		}
		#sortable li {
			margin: 3px 3px 3px 3px; 
			padding: 3px; 
			float: left; 
			width: 200px; 
			height: 200px; 
			font-size: 20px;
			background-color: orange;
			font-family: Courier;
			text-align: center;

		}

		a{
			color:black;
		}
		a:hover{
			text-decoration:none;
		}

		.redrag{
			word-wrap: break-word;
		}
	</style>
	
<head>
<body>
	<div id = "abc"></div>
{{	j=1 }}
<ul id="sortable">

{{for i in notes:}}


<li class="redrag" id="{{=i.Title}}">
	<a href={{=URL("open",args=i.Title)}} class="a" id="{{=i.Title}}"  >
	<div id="title"><b>{{=i.Title}}</b></div><br>
	{{
		if len(i.Info)< 90:
			response.write(i.Info)
		else:
			response.write(i.Info[0:90])
			response.write("....")
		pass 
	}}
	{{j=j+1}}
</a>
</li>

{{pass}}
</ul>
</body>

 <script>
$(function() {
$( "#sortable" ).sortable(
	{
		cursor: 'move',
		opacity: 0.6
	});

});
</script>

</html>